# Binary
bes
snes9x-sdl

# Compiled source
*.o

# Any test ROMs or save states
games.xml
src/games.xml
srams/gb/*
srams/nes/*
srams/snes/*
roms/gb/*
roms/nes/*
roms/snes/*

# Temp files
*.swp

# Configure temp files
src/config.info
src/config.log
src/config.status
src/Makefile
src/autom4te.cache
src/snes/sdl/config.info
src/snes/sdl/config.log
src/snes/sdl/config.status
src/snes/sdl/Makefile
src/snes/autom4te.cache

